.main_container {
      width: 100vw;   /* full viewport width */
      height: 100vh;  /* full viewport height */
      display: flex;  /* center content */
      justify-content: center;
      align-items: center;
      background: black;
}

.center_container {
    width: 90%;     /* scales relative to viewport */
    height: 90%;
    background: black;
    border-radius: 3px;
    border-color: white;
    border-style: solid;
    display: flex;
    align-items: flex-start; /* align to the left */
    justify-content: flex-start; /* align to the top */
    font-size: 2vw;
    padding: 1rem; /* optional, keeps text from touching edges */       /* add space from the edges */
}

.text_test {
    margin: 0;
    color: rgb(191, 191, 191);
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.p-test {
    margin: 0 0 1rem;
}

html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
}

.nav-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.half-div {
    width: 50%;
    padding: 2rem; /* Add some padding for visual separation */
    /*border: 1px solid #ccc; /* Add a border for visual clarity */
    display: flex;
    flex-direction: column; /* stack children vertically */
}

.ghost-btn {
align-self: flex-start;  /* don’t stretch */
  flex: 0 0 auto; 
  background: transparent;     /* no background */
  border: none;                /* no border */
  color: rgb(225, 225, 225);                /* default text color */
font-size: 1vw;
  cursor: pointer;             /* pointer on hover */
  padding: 0;                  /* remove extra space */
  transition: color 0.3s ease; 
}

.ghost-btn:hover {
    color: grey;  
    text-decoration: underline;
}

.project-link:link {
  color: rgb(225, 225, 225);
  background-color: transparent;
  text-decoration: none;
}
.project-link:visited {
  color: rgb(225, 225, 225);
  background-color: transparent;
  text-decoration: none;
}
.project-link:hover {
  color: grey;
  background-color: transparent;
  text-decoration: underline;
}